<!-- <div class="header container-fluid">
        <nav>
          <div class="">
              <div class="brand">
              </div>
          </div>
        </nav>
      </div> -->
      <nav class="navbar fixed-top">
          <h3 class="navbar-title">Audio Dictionary <br>
            <small>...a quest to design advanced, feature rich onlime vocabulary builder</small>
          </h3>
        </nav>
<mat-drawer-container class="home-container">
        <mat-drawer mode="side" opened position="end">
            <bookmark></bookmark>
        </mat-drawer>
        <mat-drawer-content>
            <content></content>
        </mat-drawer-content>
</mat-drawer-container>